language: php
php:
  - 5.4
  - 5.5
  - 5.6
  - 7
  - hhvm
  - nightly

cache:
  directories:
    - vendor
    - $HOME/.composer/cache

matrix:
  allow_failures:
    - php: hhvm
    - php: nightly
  fast_finish: true

install:
 - travis_retry composer self-update && composer --version
 - travis_retry composer config --global github-oauth.github.com $GITHUB_TOKEN
 - travis_retry composer install -n --prefer-dist
 - mkdir -p build/logs
 - sudo apt-get install python-setuptools python-dev build-essential
 - sudo easy_install -U mercurial

script:
  - phpunit --coverage-clover build/logs/clover.xml

after_script:
  - ./vendor/bin/test-reporter --stdout > build/logs/coverage.json
  - "curl -X POST -d @build/logs/coverage.json -H 'Content-Type: application/json' -H 'User-Agent: Code Climate (PHP Test Reporter v1.0.1-dev)' https://codeclimate.com/test_reports"
  - wget https://scrutinizer-ci.com/ocular.phar
  - php ocular.phar code-coverage:upload --format=php-clover build/logs/clover.xml

notifications:
  email:
    - siad.ardroumli@gmail.com

addons:
  code_climate:
    repo_token: 85b84477ccc3a51e2fc6306ffbe8d248a16ca2fda4337b211b35958b5b5e84fe
